body.catalog-category-view .product-reviews-summary.short{
  background-color: rgba(30, 195, 123, 1);
  margin-top: 0;
  padding: 5px 0;
  color: #fff;
  width: 100%;
  display: inline-block !important;
}

body.catalog-category-view .rating-summary .rating-result:before{
  color: #fff;
}

body.catalog-category-view .toolbar.toolbar-products .pages {
    width: 100%;
    float: none;
    margin: auto;
    text-align: center;
}

body.catalog-category-view .toolbar.toolbar-products .field.limiter {
    width: 100%;
    text-align: center;
    float: none;
    margin: 10px;
}

body.catalog-category-view .item.current .page {
    background-color: #ffcd18 !important;
    color: #fff !important;
    font-weight: bold !important;
}
