/* begin - Search location */
.search-location .field.search{
  border-bottom: 4px solid #ffcd18;
}
.search-location .action.search .icon::before{
  color:#ffcd18
}
.search-location #locationSearchField{
  text-transform: capitalize;
}
.autocomplete-menu {
    position: relative;
}
.autocomplete-menu td:nth-child(4),
.autocomplete-menu td:nth-child(5),
.autocomplete-menu thead,
.autocomplete-menu .dataTables_paginate,
.autocomplete-menu .dataTables_info,
.autocomplete-menu .dataTables_length,
.autocomplete-menu .dataTables_filter{
    display: none;
}
.autocomplete-menu .dataTables_wrapper {
  display: block;
  background-color: #fff;
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  border-right: 1px solid #ffcd18;
  border-bottom: 4px solid #ffcd18;
  border-left: 1px solid #ffcd18;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.autocomplete-menu td {
    display: inline;
    padding: 0;
    text-transform: capitalize;
}
.autocomplete-menu td:nth-child(1)::before {
    font-family: 'ThemeIcons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e232";
    margin-right: 8px;
}
.autocomplete-menu td::after {
    content:" ";
}
.autocomplete-menu tr {
    display: block;
    padding: 18px;
    border-top: 1px solid #f3f3f3;
    cursor: pointer;
    line-height: 20px;
}
.autocomplete-menu tr:nth-child(1) {
    border-top: none;
}
.autocomplete-menu tr:hover{
  background-color: #ffcd18;
  color: #fff;
}
/* end - autocomplete menu */

body.catalog-category-view .product-reviews-summary.short{
  background-color: rgba(30, 195, 123, 1);
  margin-top: 0;
  padding: 5px 0;
  color: #fff;
  width: 100%;
  display: inline-block !important;
}

body.catalog-category-view .rating-summary .rating-result:before{
  color: #fff;
}

body.catalog-category-view .toolbar.toolbar-products .pages {
    width: 100%;
    float: none;
    margin: auto;
    text-align: center;
}

body.catalog-category-view .toolbar.toolbar-products .field.limiter {
    width: 100%;
    text-align: center;
    float: none;
    margin: 10px;
}

body.catalog-category-view .item.current .page {
    background-color: #ffcd18 !important;
    color: #fff !important;
    font-weight: bold !important;
}
