/* begin - bundle */
div#bundleSummary {
    padding-right: 0;
    padding-top: 0;
    background: none !important;
}
.bundle-info .box-tocart:after{
    content:"";
    clear:both;
    float:none;
    display:table;
}
.bundle-info .box-tocart{
    text-align:right;
    padding:10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.bundle-info .field.qty {
    display:inline-block;
    margin-right:10px !important;
}
.price-to {
    margin-bottom: 0;
}
.bundle-summary{
    text-align: right;
    margin-top: 0px !important;
    padding: 10px;
    border-top: 1px solid #eee;
}
.bundle-info .price-box {
    text-align:right;
    margin-top:0px !important;
    padding:10px;
}
div#product-options-wrapper {
    width: 100%;
    float: none !important;
}

.bundle-options-wrapper .fieldset > .legend + br,
body.page-product-bundle #customizeTitle,
.stock.available{
  display: none;
}
.bundle-options-container::before {
    content: "";
    float: none;
    clear: both;
    display: table;
}
.bundle-options-container .product-add-form {
    display: block !important;
}
.bundle-options-container .nested .field.qty .label {
    font-weight: 200;
    color: #999;
}
.bundle-option-select{
    height: 52px;
}
.bundle-option-select + .nested,
.field.option .qty-holder{
  text-align: right;
}
.bundle-options-container .nested .field.qty {
    margin-top: 10px;
}
/* end - bundle */

/* begin - grouped table */
@media (min-width: 768px) {
  body.page-product-grouped .box-tocart{
      float: left;
      width: 30%;
  }
  body.page-product-grouped .box-tocart::after,
  body.page-product-grouped .box-tocart::before {
      float: none;
      content: "";
      display: table;
      clear: both;
  }
  body.page-product-grouped .box-tocart .fieldset .actions {
      float: right;
  }
  body.page-product-grouped .table-wrapper.grouped {
      margin-top: 20px;
      float: left;
      width: 70%;
  }
}

.dataTables_paginate a{
    display:inline-block;
    padding:8px 12px;
    cursor:pointer;
}
.dataTables_paginate a.paginate_button.current{
    display:inline-block;
    cursor:default !important;
    background-color:#ffcd28;
    color:#fff;
}
body.page-product-grouped .dataTables_info {
    position: absolute;
    top: 60px;
    font-size:12px;
    text-align:right;
    right:0;
}
.table-wrapper.grouped{
  position: relative;
}
.table.grouped{
  top: 40px;
  position: relative;
  margin-bottom: 60px;
}
.table.grouped:before {
    content:"";
    clear:both;
    display:table;
}
.dataTables_filter small,
.dataTables_length small {
    display:block;
    text-align:right;
    color: #55cc9b;
}
.dataTables_filter input[type="search"],
.dataTables_length select{
    border-color:#f9f9f9;
    border-top-color: #55cc9b;
    box-shadow: none !important;
    border-top-width: 2px;
}
.dataTables_wrapper .dataTables_length {
    width: 70px;
    float: right;
}
.dataTables_wrapper .dataTables_filter {
    float: right;
    width: calc(100% - 80px);
    margin-right:10px;
}
.table.grouped tbody tr .col.item:before{
  display: none !important;
}
.table.grouped tbody tr:hover .col.qty .qty-buttons-wrapper{
    opacity:1;
}
.table.grouped tbody tr .col.qty .qty-buttons-wrapper{
    opacity:0;
}

.table.grouped tbody .od{
    background-color:#f9f9f9;
}
.table.grouped tbody tr.even{
    background-color:#fff !important;
}
.table.grouped tbody tr{
    transition: .3s !important;
    background-color:#f9f9f9 !important;
    cursor:default;
    padding:8px 10px;
}
.table.grouped tbody tr:hover{
    box-shadow: -2px -2px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -2px -2px 10px rgba(0,0,0,0.1);
    border-left:10px solid #ffcd18;
}
.table.grouped tbody tr .price-box{
    margin-top:10px;
    border-top:1px solid #eee;
    padding:10px 0;
}
.table.grouped tbody tr .price-box span{
    margin:0;
    display: inline;
    font-weight: 100;
}
/* end - grouped table */

.modal-content .toolbar.review-toolbar,
.modal-content .review-list {
    margin-bottom: 0;
}
.modal-content .review-toolbar .pages {
    border: none;
}
.modal-content .control.review-control-vote {
    padding-top: 14px !important;
}
.modal-content .field.choice,
.modal-content .field.choice label.label{
    background:none !important;
    margin-left:0 !important;
    padding-left:0 !important;
}
.block.review-add .legend.legend.review-legend,
.block.review-add .legend.legend.review-legend strong {
    display: none;
}

.block.review-add label.label, legend.label {
    display: block !important;
    float: none !important;
    clear: both;
    width: 100% !important;
    text-align: left !important;
}

.block.review-add fieldset.field, .block.review-add div.field {
    margin-bottom: 10px !important;
}
.block.review-add button.action.submit.primary {
    background-color: #222 !important;
    color: #fff !important;
    padding: 20px 30px;
}
.block.review-add {
    margin-bottom: -40px;
    background-color: #f9f9f9;
    padding-left: 10px;
    border-top: 1px solid #ddd;
    padding-bottom: 10px;
}

ol.items.review-items li p.review-date{
    display:inline;
    border-left:1px dotted #ccc;
    padding-left:3px;
}
ol.items.review-items li p.review-author {
  display:inline;
}

ol.items.review-items li {
  position: relative;
  background-color: #f9f9f9;
  padding-left: 20px;
}
ol.items.review-items li .review-title {
  display: none;
}
ol.items.review-items li .review-ratings {
  float: none;
  position: absolute;
  right: 0;
  font-size: 12px;
  color: #999;
  width: 150px;
}
ol.items.review-items li .review-content{
  margin: 0 160px 0 0 !important;
}

ol.items.review-items li .review-details{
  margin: 0px 160px 0 0 !important;
  color: #999;
  font-size: 12px;
}
ol.items.review-items li .review-details strong {
    font-weight: 400;
}

.modal-content div.content {
  background: none !important;
}

.product-reviews-summary {
    position: absolute;
    right: 0;
    top: 0;
}
.product-reviews-summary .reviews-actions{
    display: block !important;
    text-align: right;
    margin-right:12px;
}
.product-reviews-summary .rating-summary {
    display: block !important;
}

.product-info-stock-sku{
  border-bottom: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.product-shop.product-info-main {
    margin-bottom: 0;
}
.product-info-main .product.attribute.overview{
    display: table-cell;
    padding-top:4px;
    padding-right:5px;
    color: #999;
    font-size: 13px;
    width: 100%;
    padding-bottom: 10px;
}
.product-info-main .product-info-price{
    text-align: right;
    padding-top:4px;
    padding-left:5px;
    padding-bottom: 4px;
    padding-right: 10px;
}
.product-info-main .product.attribute.overview + .product-info-price{
    display: table-cell;
    min-width: 200px;
}
.product-info-main .product.attribute.overview + .product-info-price::before{
    content:"";
    display:table;
    vertical-align:top;
}
.price-from .price,
.price-to .price {
    font-size: 14px !important;
    color: #999 !important;
    line-height: 14px !important;
}
.product.attribute.description,
.text-muted,
.price-from .price-label,
.price-to .price-label{
    color: #999;
    font-size: 13px;
}
.table.grouped .col.qty{
    text-align: right;
}
.table.grouped .col.qty .qty-label{
  display: block;
  margin-right: 36px;
}
.table.grouped .col.qty::before {
    margin-right: 36px;
    margin-bottom:5px;
}

.product-title{
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  display: block;
  position: relative;
}
.product-title .page-title{
  display: inline-block;
  margin: 0 105px 0 0 !important;
}
.product-details-head{
    display: inline-block;
    width: 100%;
    position: relative;
    color: #fff;
    height:200px;
}
.product-details-head .bg-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    z-index: -2;
}
.product-details-head .pdp-image{
    position: absolute;
    top: 0;
    width: 300px;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
}
.product-details-head .bg-color{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(30, 195, 123, 0.7);
    z-index: -1;
}
.product-details-base{
    display: inline-block;
    width: 100%;
}

body.catalog-product-view .qty-button.increase{
    font-size: 12px;
    background-color:#ffcd18;
    color:#000;
}
body.catalog-product-view .qty-button.decrease{
    font-size: 12px;
    background-color:#d6d6d6;
    color:#000;
}
body.catalog-product-view .qty-button.decrease:before{
    content: "\e23d";
}
body.catalog-product-view .qty-button.increase:before{
    content: "\e23c";
}
body.catalog-product-view input.input-text.qty {
    border-color:#eee;
}
body.catalog-product-view .field.choice {
    background-color: #eee;
    width: 100%;
    margin-bottom: 0 !important;
    border-top: 1px solid #eee;
    position: relative;
}
body.catalog-product-view .price-notice .price-container {
    color: #5680e2;
    font-weight:600;
}
body.catalog-product-view .field.choice label.label{
  width: calc(100% - 40px);
  display: inline-block;
  background-color: #f9f9f9;
  padding: 20px 10px;
  cursor: pointer;
  margin-left: 20px;
}
body.catalog-product-view .field.choice .checkbox,
body.catalog-product-view .field.choice .radio {
  position: absolute;
  margin: 5px;
  top: 50%;
  margin-top: -6px;
}

body.catalog-product-view .field.choice input[type="checkbox"]:checked + label,
body.catalog-product-view .field.choice input[type="radio"]:checked + label{
  background-color: #fffdc7;
  box-shadow: -2px -2px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 2px -2px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -2px -2px 10px rgba(0,0,0,0.1);
  color: #e03081;
  font-weight: bold;
}
